.bodyCadUser {
    margin-left: 10% ;
    display: flex;
    align-items: baseline;
    flex-direction: row;

}

.tipoCad {
    max-width: 45%;
    margin-right: 10%;
    margin-bottom: 200px;
}

.buttonCadUser {
    margin: 5px;
    padding: 20px;
    border-radius: 200px;
    border-style: solid;
    border-color:blueviolet;
    background-color: blueviolet;
    color: antiquewhite;
}


