[submodule "BetterCallUs-Front"]
	path = BetterCallUs-Front
	url = https://github.com/CODE1na/BetterCallUs-Front
[submodule "BetterCallUs-Back"]
	path = BetterCallUs-Back
	url = https://github.com/CODE1na/BetterCallUs-Back
[submodule "BetterCallUs-BD"]
	path = BetterCallUs-BD
	url = https://github.com/CODE1na/BetterCallUs-BD
