@font-face {
    font-family: "seila";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

.logo{
    width: 220px;
    user-select: none;
    pointer-events: none;
}

.cabeca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "seila";
    background-color: #A35AFF;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.botao{
    width: 40px;
    user-select: none;
    pointer-events: none;
    margin:0 30px
}