<link rel="stylesheet" href="../static/styles/index.css">
<div class="cabeca">
    <button>botum</button>
    <img class="logo" src="../static/img/better call us.png">
    <button>butan</button>
</div>
<footer>
    <br><div class="botoes">
        <div>• e-mail: bettercallus.code@gmail.com</div>
        <div>
        <a href="https://www.youtube.com/watch?v=K3LvvwW5alg&pp=ygUkbyBtYWlvciBpbmltaWdvIGRhIGdlbGFkZWlyYSB0c3VuYW1p" target="_blank">
            <img class="botao" src="../static/img/botoes/insta.png">
        </a>
        <a href="https://www.youtube.com/watch?v=K3LvvwW5alg&pp=ygUkbyBtYWlvciBpbmltaWdvIGRhIGdlbGFkZWlyYSB0c3VuYW1p" target="_blank">
            <img class="botao" src="../static/img/botoes/github.png">
        </a>
        <a href="https://www.youtube.com/watch?v=K3LvvwW5alg&pp=ygUkbyBtYWlvciBpbmltaWdvIGRhIGdlbGFkZWlyYSB0c3VuYW1p" target="_blank">
            <img class="botao" src="../static/img/botoes/twitter.png">
        </a>
        </div>
        <div>• WhatsApp/telefone 4002-8922: </div>
    </div>
    <br><hr>
    <br><div>©CODEÍNA 2023- Todos os Direitos Reservados</div><br>
</footer>