
body{
    background-image: -o-linear-gradient(red);

}

.box {
    border-style: hidden;
    border-width: 5px;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo.Login {
    font-size: 48px;
}

.inputLogin {
    margin: 5%;
    padding: 2%;
    width: 75%;
    font-size: medium;
}

.buttonLogin {
    padding: 2%;
    margin: 10%;
    width: 75%;
}

