.App {
  text-align: center;
}

nav a{
  display: inline-block;
  margin: 0 10px;
}


@font-face {
  font-family: "fonte";
  src: url("JosefinSans-Regular.ttf");
}










.bodyLogin {
  background: rgb(217,109,216);
  background: linear-gradient(90deg, rgba(217,109,216,1) 4%, rgba(115,174,222,1) 100%);
  padding: 10%;

}

.boxLogin {
  border-style: hidden;
  border-width: 5px;
  margin: 2.6%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #352D42;

  background-color: aliceblue;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxLogin .tituloLogin {
  font-family: fonte;
  font-weight: bold;
  font-size: 48px;
}

.boxLogin p {
  font-family: fonte;
  font-size: 16px;
  margin-right: 50%;

}

.inputLogin {
  margin: 2%;
  width: 75%;
  font-size: medium;

  padding: 2%;
  border-radius: 20px;
  border-color: blueviolet;


}

.buttonLogin {
  margin: 10%;
  width: 50%;
  font-size: 24px;

  padding: 6px;
  border-radius: 20px;
  background-color: #352D42;
  color: aliceblue;
}













.bodyTicket {
  font-family: "fonte";
}

.problemaTicket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.problemaTicket p {
  font-size: 24px;
  font-family: fonte;
  font-weight: bold;
}

.problemaTicket textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 20px;
  border-color: blueviolet;
  border-width: 3px;
  padding: 1%;
}

.recursosTicket {
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 10%;
}

.dadosTicket {
  display: flex;
  align-items: first baseline;
  flex-direction: column;

}

.dadosTicket p {
  font-size: 16px;
  font-weight: bold;

}

.dadosTicket {
  padding: 1%;
}

.dadosTicket form {
  padding: 2%;
}

.dadosTicket select {
  padding: 2%;
  border-color: blueviolet;
  text-align: center;
  border-radius: 20px;
  border-width: 2px;
  width: 145%;
}

.buttonTicket {
  display: flex;
  margin-left: 65%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: -10%;

  font-size: 24px;
  border-color: blueviolet;
  background-color: blueviolet;
  color: white;
  text-align: center;
  border-radius: 20px;
  border-width: 1px;

}
