
  
  .bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(217,109,216);
    background: linear-gradient(90deg, rgb(245, 111, 243) 4%, rgb(92, 179, 250) 100%);
    padding: 10%;
    background-size: 150% 10%;
    animation: degrade 2s infinite alternate ;
  }
  
  @keyframes degrade{
    0%{background-position-x: 0% }
    100%{background-position-x: 100% }
  }
  
  .boxLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 680px;
    width: 800px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(21, 11, 22, 0.3);
  }
  
  #tituloLogin{
    font-family: fonte;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 2%;
  }
  
  .boxLogin p {
    font-family: fonte;
    font-size: 16px;
  }
  
  .inputLogin {
    height: 4%;
    width: 75%;
    font-size: medium;
  
    padding: 2%;
    border-style: solid;
    border-radius: 20px;
    border-color: blueviolet;
  
  
  }
  
  .buttonLogin {
    margin: 10%;
    height: 60px;
    width: 300px;
    max-width: 90%;
    font-size: 22px;
    padding: 6px;
    border-radius: 200px;
    background: linear-gradient(90deg, #352D42, #2B3946);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  #esquerda{
    margin-left: -65%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 22px;
  }
  
  
  
  