.bodyAdm {
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-align: center ;
    flex-direction: row;
    margin-bottom: 3%;
    font-family: fonte;
    margin-bottom: 250px;
}

.privAdm {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.opcAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnAdm {
    box-shadow: 5px 5px rgba(158, 61, 248, 0.377);
    border-radius: 5px;
    font-family: fonte;
    width: 80%;
    padding: 25px;
    margin: 10px;
    background-color: blueviolet;
    color: antiquewhite;
    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    font-size: 28px;
    cursor: pointer;
}


