
.bodyTicket {
    font-family: "fonte";
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
  }
  
  .problemaTicket {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }
  
  .problemaTicket p {
    font-size: 24px;
    font-family: fonte;
    font-weight: bold;
  }
  
  .problemaTicket textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 20px;
    border-color: blueviolet;
    border-width: 3px;
    padding: 1%;
  }
  
  .recursosTicket {
    display: flex;
    max-width: 75%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
  }
  
  .dadosTicket {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin: 5% 0;
  }
  
  .dadosTicket select {
    padding: 2%;
    border-color: blueviolet;
    text-align: center;
    border-radius: 20px;
    border-width: 2px;
    width: 145%;
  }
  
  .buttonTicket {
    display: flex;
    margin-left: 65%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
  
    font-size: 24px;
    border-color: blueviolet;
    background-color: blueviolet;
    color: white;
    text-align: center;
    border-radius: 20px;
    border-width: 1px;
    cursor: pointer;
  }
  
  #opcoes {
    width: 300px;
    max-width: 100%;
    margin: 0 5%;
  }
  
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid red;
  }